.places {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 20px;
}

.places h1 {
	font-size: 30px;
	text-align: left;
	width: 100%;
}

.places h2 {
	font-size: 30px;
	margin-left: 30%;
	margin-top: 10px;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.ad_title {
	display: flex;
	justify-content: space-between;
	margin-top: -2%;
}

.price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 1.5%;
	margin-bottom: 10px;
}

.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 5%;
}

.information div {
	height: 65px;
	align-items: center;
	flex-direction: column;
	display: flex;
	justify-content: flex-end;
}

.max_guest {
	width: 100px;
	background: url(../images/icon_group.png) no-repeat top center;
}


.number_rooms {
	width: 100px;
	background: url(../images/icon_bed.png) no-repeat top center;
}

.number_bathrooms {
	width: 100px;
	background: url(../images/icon_bath.png) no-repeat top center;
}

.user {
	margin-bottom: 1%;
}